nav.footer-menu.menu-centered
  ul.menu

    li.footer-menu-item
      a.footer-menu-link(href="#") About us
      ul.footer-menu-sub-menu
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsud
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsud
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsud


    li.footer-menu-item
      a.footer-menu-link(href="#") Legal
      ul.footer-menu-sub-menu
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor sit
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor sit
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor sit

    li.footer-menu-item
      a.footer-menu-link(href="#") Developers
      ul.footer-menu-sub-menu
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor sit
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum dolor sit
        li.footer-menu-sub-menu-item
          a.footer-menu-sub-menu-link(href="#") Lorem ipsum d sit
