.wrapper
  .row
    .columns.large-12
      a.company-logo(href="#")
        img.company-logo-img(src="./src/img/logo.svg", alt="Company Logo")
      nav.main-menu
        ul.menu.align-left
          li.main-menu-item: a.main-menu-link(href="#") lorem1
          li.main-menu-item: a.main-menu-link(href="#") lorem2
          li.main-menu-item: a.main-menu-link(href="#") lorem3
          li.main-menu-item: a.main-menu-link(href="#") lorem4
          li.main-menu-item: a.main-menu-link(href="#") lorem5
