.wrapper
  .row
    .columns.large-12
      a.company-logo(href="#")
        img.company-logo-img(src="./dist/img/logo.svg", alt="Company Logo")

      .menu-toogle.float-right.hide-for-large
        button.button.toggle-button(type="button" data-toggle="offCanvas")

      nav.main-menu#main-menu.show-for-large
        ul.menu.align-left
          li.main-menu-item.main-menu-item-current: a.main-menu-link(href="#") Home
          li.main-menu-item: a.main-menu-link(href="#") Developer
          li.main-menu-item: a.main-menu-link(href="#") About us
          li.main-menu-item: a.main-menu-link(href="#") Hello World
          li.main-menu-item: a.main-menu-link(href="#") lorem5
