.box.box-body.box-padding-bottom.box-border.box-padding-top.hide-for-small-only
  h3.text-center.text-trim-spacing Submenu
  nav.sub-menu
    ul.menu.vertical
      li.sub-menu-item: a.sub-menu-link(href="#") Home
      li.sub-menu-item.sub-menu-item-current: a.sub-menu-link(href="#") About
      li.sub-menu-item: a.sub-menu-link(href="#") Example
      li.sub-menu-item: a.sub-menu-link(href="#") Developer
      li.sub-menu-item: a.sub-menu-link(href="#") Hello World
