.box.box-body.box-padding-bottom.box-border.box-padding-top.hide-for-small-only
  h3.text-center.text-trim-spacing Submenu
  nav.sub-menu
    ul.menu.vertical
      li.sub-menu-item: a.sub-menu-link(href="#") lorem1
      li.sub-menu-item: a.sub-menu-link(href="#") lorem2
      li.sub-menu-item: a.sub-menu-link(href="#") lorem3
      li.sub-menu-item: a.sub-menu-link(href="#") lorem4
      li.sub-menu-item: a.sub-menu-link(href="#") lorem5
