$web-font-url: 'https://fonts.googleapis.com/css?family=Montserrat:700|Merriweather:400,400italic';

$root-font-family: 'Merriweather', serif;

$heading-font-family: 'Montserrat', serif;

$em-base: 20px;
