$sub-menu-link-color: $color-java !default;
$sub-menu-link-color-hover: scale-color($color-java, $lightness: -15%) !default;

$sub-menu-link-bg-color: $color-java !default;
$sub-menu-link-bg-color-hover: scale-color($color-java, $lightness: -15%) !default;
