@import 'config';

// TODO:

.sub-menu {

  &-link {
    color: $sub-menu-link-color;
    text-decoration: none;
    font-size: rem(16);
    @include heading-font-family;

    &:hover {
      color: $sub-menu-link-color-hover;
    }
  }

  &-item {

    &-current {

      .sub-menu-link {
        color: $color-white;
        background-color: $sub-menu-link-bg-color;

        &:hover {
          background-color: $sub-menu-link-bg-color-hover;
        }
      }
    }

  }

  .menu {
    padding: 0;
  }
}
