@import 'config';

@import 'foundation-sites/scss/components/menu';

@include foundation-menu;

.main-menu {

  float: right;
  padding: 0;

  &-item {

    &-current {

      .main-menu-link {

        position: relative;
        background-color: $main-menu-link-bg-color-hover;

        &:after {
          content: "";
          left: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: $color-java;
          height: 2px;
        }
      }

    }

  }

  &-link {

    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-outer-space;
    @include heading-font-family;

    &:hover {
      background-color: $main-menu-link-bg-color-hover;
    }

  }

  .menu {
    padding: 0;
  }

  .menu > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
  }

}
