doctype html
html
  head
    meta(charset="UTF-8")
    title Challenge Accepted
    link(rel="stylesheet", href="./dist/css/app.css")
  body
    header.header
      include ../components/main-menu/main-menu.pug
    main
      block main
    footer
