doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Challenge Accepted
    link(rel="stylesheet", href="./dist/css/app.css")
  body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
        .off-canvas.position-right#offCanvas(data-off-canvas data-position="right")

          nav.mobile-menu


        .off-canvas-content(data-off-canvas-content)
          header.header
            include ../components/main-menu/main-menu.pug
          main
            block main
          footer.footer
            .wrapper
              include ../components/footer-menu/footer-menu.pug
          .js-off-canvas-exit
  script(src="https://use.fontawesome.com/5ecb4b3783.js")
  script(type="text/javascript" src="./dist/javascripts/app.js")
